<div class="col-md-12">
  <div class="group" >
    <%= link_to("New movie", new_list_path, class:"btn btn-primary pull-right")%>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>Title</td>
        <td>Profile</td>
        <td>Creator</td>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => "list_item", :collection => @lists, :as => :list %>
    </tbody>
  </table>
</div>
