<div class="col-md-12">
  <div class="group">
    <% if current_user && current_user == @list.user %>
    <%= link_to("Edit", edit_list_path(@list), class: "btn btn-primary pull-right")%>
    <% end  %>
  </div>
  <h2><%= @list.title %></h2>
  <p><%= @list.profile %></p>
</div>
